* {
    margin: 0;
    padding: 0;
  }
body {
    width: $width;
    padding: 0%;
    margin: auto;
    background: url(./imagenes/fondobody.jpg);
    background-size: 100%;
}

.gridtitulo {
    font-family: map-get($tipografia, "fuente-general");
    font-size: map-get($tipografia, "tamaño-titulo")
}